.card {
  width: 81.7%;
  height: 350px;
  margin: 1px auto auto auto;
  background: rgba(158, 158, 158, 0.8);
  margin-top: 1%;
  border-radius: 20px;
}

.hr {
  width: 80%;
  size: 1%;
  color: var(--head-color);
}

.title {
  color: var(--head-color);
  text-align: center;
  font-family: "Jura";
}

.txt {
  color: var(--head-color);
  font-family: "Jura";
  font-size: 1.1em;
  font-weight: lighter;
  margin-left: 9px;
  margin-right: 5px;
  text-align: justify;
}
